@import url("https://fonts.googleapis.com/css?family=Marcellus&display=swap");

@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

/*******************************
*  START - Navigation Style    
*******************************/

header {
  z-index: 3;
  max-width: 100vw;
  max-height: 100vh;
}
.navbar {
  background-color: #172243;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #dfcf43;
  padding: 20px !important;
  z-index: 105 !important;
  position: fixed;
  height: 2.5rem;
  width: 100vw;
}

.navbar-items .logo {
  height: auto;
  margin: 0;
  padding: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  z-index: 100 !important;
}
.navbar-items div h1 {
  font-family: "Marcellus", serif;
  text-align: center;
  line-height: 0.9rem;
  font-size: 2.3rem;
  letter-spacing: 5px;
  color: #ffffff;
}
.navbar-items div h1 span {
  color: #dfcf43;
}

.navbar img {
  width: 25px;
  height: auto;
  z-index: 100;
}
.navbar a {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  padding: 20px;
  font-size: 1.1rem;
  z-index: 100;
  letter-spacing: 4px;
}

.navbar-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.btn-match {
  margin-top: 4rem;
  z-index: 100;
}

.btn-match {
  position: relative;
  padding: 1.4rem 4.2rem;
  padding-right: 3.1rem;
  font-size: 1.4rem;
  color: #ffffff;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  z-index: 100;
}

.btn-match:before,
.btn-match:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn-match:hover {
  color: #ffffff !important;
  transition-delay: 0.6s;
  font-weight: bold;
}

.btn-match:hover:before {
  transition-delay: 0s;
}

.btn-match:hover:after {
  /* background: #dfcf43; */
  transition-delay: 0.4s;
  opacity: 0.2;
}

.btn-effect:before,
.btn-effect:after {
  top: 0;
  width: 0;
  height: 100%;
}

.btn-effect:before {
  right: 0;
  border: 1px solid #ffffff;
  border-left: 0;
  border-right: 0;
}

.btn-effect:after {
  left: 0;
}

.btn-effect:hover:before,
.btn-effect:hover:after {
  width: 100%;
}

.landing-page-container .bold {
  font-weight: bold;
}
/*******************************
*    END - Navigation Style    
********************************/
