@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Marcellus&display=swap");

.container {
  font-family: "Quicksand", sans-serif;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: #f1f6fe;
}

.rooms-title h1 {
  font-family: "Marcellus", serif;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 0.7rem;
  margin-bottom: 4rem;
  margin-top: 7rem;
  color: #172243;
}

/*******************************
*         Rooms Cards   
********************************/
.rooms-card {
  width: 60vw;
  height: 40vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.left-col .lower-price,
.lower-price {
  position: absolute;
  width: 10vw;
  height: 5vh;
  background-color: #172243;
  color: #ebdc58;
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 2.5rem;
  text-align: center;
  border-top-left-radius: 8px;
}

.left-col img {
  width: 400px;
  height: 300px;
  border-radius: 8px;
}

.center-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.center-col h2 {
  margin: 0;
  margin-top: -2rem;
  font-size: 2.3rem;
  letter-spacing: 0.3rem;
  color: #22315e;
  text-transform: capitalize;
}

.room-additional-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-transform: capitalize;
}

.room-additional-info p,
.allowed {
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  color: #646e8a;
}

.room-additional-info p i,
.allowed i {
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  color: #646e8a;
  margin-right: 1rem;
}

.right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.price-title h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bolder;
  border-bottom: 2px solid #9e9fa1;
}

.price-title p {
  margin: 0;
  color: #9e9fa1;
  font-style: italic;
  text-align: right;
}
.not-allowed {
  text-decoration: line-through;
  color: #fe5454;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  text-align: right;
}

.not-allowed i {
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  color: #646e8a;
  margin-right: 1rem;
  text-align: right;
}

.btn-more-info-holder,
.btn-close {
  margin-top: 1.5rem;
}

.btn-more-info,
.btn-close {
  height: auto;
  padding: 1.2rem;
  background-color: #22315e;
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.btn-more-info:hover,
.btn-close:hover {
  color: #ebdc58;
  cursor: pointer;
}

.right-col .btn-reserve-holder {
  margin-top: 4rem;
}

.right-col .btn-reserve {
  height: auto;
  padding: 1.2rem;
  background-color: #22315e;
  color: #ffffff;
  font-style: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bolder;
}

.right-col .btn-reserve:hover {
  color: #ebdc58;
}

/*******************************
*    END - Rooms Cards   
********************************/

/*******************************
*           Modal Style   
********************************/

/* .modal-container > * {
  border: 1px solid gold;
} */

.modal {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-container {
  margin: 5% auto;
  width: 60%;
  min-height: 100vh;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.modal-container h3 {
  font-size: 2rem;
  color: #172243;
  letter-spacing: 4px;
}

.modal-header {
  margin: 0;
  padding: 0;
  width: 50vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.modal-header img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

.modal-body {
  width: 50vw;
  min-height: 40vh;
}
.modal-body .top-info div h4 {
  font-size: 1.2rem;
  color: #22315e;
}
.modal-body .top-info {
  background-color: #fdfeff;
  padding: 0.2rem;
  margin-top: 1rem;
}
.modal-body .top-info div p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.bottom-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.bottom-info p {
  font-size: 0.9rem;
}
.bottom-info p i {
  font-size: 0.9rem;
}
.modal-footer {
  width: 50vw;
  height: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.5rem;
}

.btn-close {
  border: 0;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  line-height: 1;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*******************************
*    END -  Modal Style 
********************************/

/*******************************
*       Reservation Form
********************************/
.title-form {
  width: 100%;
  margin-bottom: 1%;
  text-transform: uppercase;
  text-align: center;
}

.modal-body form {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f8f4cc;
  padding: 1rem;
  border-radius: 8px;
}

.modal-body input[type="text"] {
  font-family: "Quicksand", sans-serif;
  text-align: left;
  width: 70%;
  padding: 1rem;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #4f5050af;
  color: #22315e;
  font-size: 1.8rem;
  letter-spacing: 4px;
}

.modal-body input[type="submit"] {
  flex-basis: 27%;
  font-family: "Quicksand", sans-serif;
  border: none;
  width: 150px;
  background: #22315e;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 1.2rem;
  text-decoration: none;
  letter-spacing: 2px;
  letter-spacing: 3px;
  margin-top: 2rem;
}
.modal-body input[type="submit"]:hover {
  cursor: pointer;
  color: #ebdc58;
}

.modal-body label {
  flex-basis: 71%;
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #929396;
}
.notice {
  margin: 5px;
  padding: 5px 15px 5px 15px;
  background-color: #e4e1de;
  border-radius: 5px;
}

/*******************************
*    END -  Reservation Form 
********************************/

/*******************************
*      Media Query Design  
********************************/

@media (max-width: 1640px) {
  /*******************************
*         Rooms Cards   
********************************/

  .rooms-card {
    width: 70vw;
    height: 40.1vh;
    margin: 0.5rem;
    display: flex;
    justify-content: flex-start;
  }

  .left-col .lower-price,
  .lower-price {
    font-size: 1rem;
  }

  .left-col {
    width: 41%;
    height: 90%;
    padding: 0 !important;
    margin-right: 0.5rem;
    padding: 0.5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-col img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .center-col {
    width: 26vw;
  }

  .center-col h2 {
    margin-top: 0rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    padding-left: 0.5rem;
  }

  .room-additional-info p,
  .allowed {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding-left: 0.5em;
  }

  .room-additional-info p i,
  .allowed i {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    margin-right: 1.5rem;
  }

  .price-title {
    padding-right: 0.5rem;
  }
  .price-title h3 {
    font-size: 1.2rem;
  }

  .price-title p {
    font-size: 0.9rem;
  }
  .not-allowed {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    padding-right: 0.5rem;
  }

  .not-allowed i {
    font-size: 1rem;
    margin-right: 1.5rem;
  }

  .btn-more-info-holder,
  .btn-close {
    margin-right: 1.5rem !important;
  }

  .btn-more-info-holder {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .btn-more-info,
  .btn-close {
    padding: 0.5rem;
    font-size: 0.9rem !important;
    letter-spacing: 0.1em !important;
  }

  .right-col .btn-reserve-holder {
    margin-top: 4.5rem !important;
  }

  .right-col .btn-reserve {
    padding: 0.7rem;
    font-style: 0.9rem;
  }

  /*******************************
*    END - Rooms Cards   
********************************/

  /*******************************
*           Modal Style   
********************************/

  .modal {
    position: fixed;
    min-height: 100vh !important;
    width: 100%;
  }
  .modal-container {
    margin: 1px auto !important;
    padding: 2%;
    min-height: 100% !important;
  }

  .modal-container h3 {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .modal-header {
    padding: 0;
    width: 50vw;
    height: 35vh;
  }

  .modal-header img {
    width: 90%;
    height: 250px;
  }

  .modal-body {
    width: 50vw;
    min-height: 40vh;
  }
  .modal-body .top-info div h4 {
    font-size: 1rem;
  }
  .modal-body .top-info {
    padding: 0.1rem;
    margin-top: 0rem;
  }
  .modal-body .top-info div p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .bottom-info p {
    font-size: 0.9rem;
  }
  .bottom-info p i {
    font-size: 0.9rem;
  }
  .modal-footer {
    width: 50vw;
    height: 7vw;
    padding-bottom: 0.5rem;
  }

  .btn-close {
    padding: 0.9rem 2rem !important;
    font-size: 0.5rem;
    line-height: 1;
  }

  /*******************************
*    END -  Modal Style 
********************************/
}
@media (max-width: 1300px) {
  .rooms-card {
    width: 85vw;
    height: 37.1vh;
  }

  .left-col {
    width: 43%;
  }
}
@media (max-width: 641px) {
  /*******************************
*         Rooms Cards   
********************************/

  .rooms-card {
    width: 98vw;
    height: 32.9vh;
    background-color: #ee1414;
    margin: 0.5rem;
    display: flex;
    justify-content: flex-start;
    overflow-y: hidden !important;
  }

  .left-col .lower-price,
  .lower-price {
    font-size: 1rem;
  }

  .left-col {
    width: 50%;
    height: 100%;
    padding: 0 !important;
    margin-right: 0.5rem;
  }
  .left-col img {
    object-fit: cover;
    border-radius: 0;
    width: 100%;
    height: auto !important;
  }

  .center-col {
    width: 30vw;
  }

  .center-col h2 {
    margin-top: 0rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding-left: 0.5rem;
  }

  .room-additional-info p,
  .allowed {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    padding-left: 0.5em;
  }

  .room-additional-info p i,
  .allowed i {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-right: 1.5rem;
  }

  .price-title {
    padding-right: 0.5rem;
  }
  .price-title h3 {
    font-size: 1.2rem;
  }

  .price-title p {
    font-size: 0.9rem;
  }
  .not-allowed {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    padding-right: 0.5rem;
  }

  .not-allowed i {
    font-size: 1rem;
    margin-right: 1.5rem;
  }

  .btn-more-info-holder,
  .btn-close {
    margin-right: 1.5rem !important;
  }

  .btn-more-info-holder {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .btn-more-info,
  .btn-close {
    padding: 0.5rem;
    font-size: 0.9rem !important;
    letter-spacing: 0.1em !important;
  }

  .right-col .btn-reserve-holder {
    margin-top: 4.5rem !important;
  }

  .right-col .btn-reserve {
    padding: 0.7rem;
    font-style: 0.9rem;
  }

  /*******************************
*    END - Rooms Cards   
********************************/

  /*******************************
*           Modal Style   
********************************/

  .modal {
    position: fixed;
    min-height: 100vh !important;
    width: 100%;
  }
  .modal-container {
    margin: 1px auto !important;
    padding: 2%;
    min-height: 100% !important;
  }

  .modal-container h3 {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .modal-header {
    padding: 0;
    width: 50vw;
    height: 35vh;
  }

  .modal-header img {
    width: 90%;
    height: 250px;
  }

  .modal-body {
    width: 50vw;
    min-height: 40vh;
  }
  .modal-body .top-info div h4 {
    font-size: 1rem;
  }
  .modal-body .top-info {
    padding: 0.1rem;
    margin-top: 0rem;
  }
  .modal-body .top-info div p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .bottom-info p {
    font-size: 0.9rem;
  }
  .bottom-info p i {
    font-size: 0.9rem;
  }
  .modal-footer {
    width: 50vw;
    height: 7vw;
    padding-bottom: 0.5rem;
  }

  .btn-close {
    padding: 0.9rem 2rem !important;
    font-size: 0.5rem;
    line-height: 1;
  }

  /*******************************
*    END -  Modal Style 
********************************/
}
