/*******************************
  *        LandingPage   
  *******************************/

.landing-page-container {
  background-image: url("./resort-bg-Two.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
}

.landing-page-info {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 15 !important;
}

.title {
  margin: 0;
  z-index: 20 !important;
  background-color: #0e1731;
  width: 30vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  align-content: center;
}
.title h1 {
  font-family: "Marcellus", serif;
  color: #ffffff;
  font-size: 4rem;
  letter-spacing: 0.5rem;
}
.title h1 span {
  color: #dfcf43;
}
.title h3 {
  margin-top: -2rem;
  margin-bottom: -1rem;
  font-family: "Marcellus", serif;
  color: #ffffff;
  font-size: 5rem;
  letter-spacing: 0.9rem;
}
.title p {
  width: 20vw;
  padding: 1rem;
  font-family: "Quicksand", sans-serif;
  color: #dfcf43;
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.overlay {
  position: absolute;
  background-image: radial-gradient(
    rgba(23, 34, 67, 0.803),
    rgba(15, 15, 15, 0.817)
  );
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.8;
}

.btn-landing-page {
  background-color: transparent;
  border: none;
  list-style: none;
  text-decoration: none;
  color: white;
}
.btn-landing-page:focus {
  outline: none;
  color: #ffffff;
}

/*******************************
    *    END - LandingPage    
    *******************************/
